spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/prodreadyfeatures?userSSL=false
    username: root