spring:
  datasource:
    url: jdbc:mysql://localhost:3306/homework-03?useSSL=false
    username: root
    password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true